/////////////////////////////
/// ENVIRONMENT VARIABLES ///
/////////////////////////////

environment {
	// fix empty open-with in dolphin
	XDG_MENU_PREFIX "arch-"
	// enable manguhud for all vulkan games
	MANGOHUD "0"
	// automatically scale qt windows based on monitor dpi
	QT_AUTO_SCREEN_SCALE_FACTOR "1"
}

clipboard {
	// disable middle click paste
	// disable-primary
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
