/////////////
/// INPUT ///
/////////////

input {
    keyboard {
        xkb {
			layout "eu"
			// vairant "colemak_dh_ortho"
        }
    }

	warp-mouse-to-focus
	focus-follows-mouse max-scroll-amount="0%"

    mouse {
        accel-profile "flat"
    }

    touchpad {
        tap
        accel-profile "flat"
    }
}

cursor {
	xcursor-size 24
	// hide-when-typing
	// hide-after-inactive-ms 0
}
