///////////////////
/// LAYER RULES ///
///////////////////

overview {
	zoom 0.9
	// backdrop-color "#777777"
}

// hide borders and rounded corners if a single window is visible

// block notifications from screenshare
layer-rule {
	match namespace="^notifications$"
	// block-out-from "screencast" 
	block-out-from "screen-capture"
}

////////////////////
/// WINDOW RULES ///
////////////////////

// ask windows to disable client side decorations
// also tells them that they are tiled
prefer-no-csd

// general rules for all windows
window-rule {
	// rounded corners
	geometry-corner-radius 10
	// disable/cut off client side shadows etc
	clip-to-geometry true
}

// float these windows
window-rule {
	// float godot games launched from editor
	match title=".+ (DEBUG)"
	// gpu screen recorder ui
	match app-id="gsr-ui"
	// learnopengl projects
	match title="LearnOpenGL"

	open-floating true
	open-fullscreen false
}

// change default column width for these windows to 1
window-rule {
	// match app-id="firefox"
	// main steam window
	match app-id="steam" title="Steam"
	// main godot window
	match app-id="Godot" title=".*Godot Engine"
	// videos
	match app-id="vlc"

	default-column-width { proportion 1.0; }
	default-window-height { proportion 1.0; }
}

// float, disable rounding focus ring border for these windows
window-rule {
	match app-id="org.kde.kruler"
    match app-id="firefox" title="Picture-in-Picture"
	match title=".*-Exercise-.*"

	open-floating true
	geometry-corner-radius 0
	focus-ring {
		off
	}
}

// fullscreen these windows
window-rule {
	match app-id="Minecraft.*"

	open-fullscreen true
}

// tile these float-by-default windows
window-rule {
	match app-id="steam" title="Friends List"
	match app-id="steam" title="Sign in to Steam"
	match app-id="steam" title="Shutdown"
	match app-id="discord" title="Discord Updater"

	open-floating false
	default-window-height { proportion 1.0; }
}

// place these popups in the top right corner
window-rule {
	match title="gsr notify"
	match app-id="steam" title="notificationtoasts_\\d+_desktop"
	// todo: figure out title for steam now playing popup
	// apparently its the same as for normal notifications

	default-floating-position x=-65 y=10 relative-to="top-right"
	open-focused false
}

// make urgent popups floating with red-orange border
window-rule {
	match is-urgent=true

	open-floating true
	open-focused true
	focus-ring {
        active-gradient from="#FF0000FF" to="#FF7700FF" angle=135
	}
}
